@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *{
        /* border: 0.2px solid white; */
        @apply font-Tsukimi;
    }

    body{
        background-color: #111b21;
        color: #fefefe;
    }

    li{
        margin-left: 3rem;
        font-weight: 700;
    }

    select{
        appearance: none;
        display: block;
        outline: 0;
        background: #111b21;
        width: 100%;
        height: 100%;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
    }

    .contents{
        width: 100%;
        height: 100vh;
    }

    .side{

        width: 50%;
    }

    .text{
        width: 50%;
        text-align: justify;
    }

}