@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *{
        /* border: 0.2px solid white; */
        @apply font-Tsukimi;
    }

    body{
        background-color: #111b21;
        color: #fefefe;
    }

    .explore{
        left: 0;
        right: 0;
        width: 55%;
        margin: auto;
    }

    .gallery{
        width: 100%;
        height: 100vh;
        background-color: rgb(81, 10, 10);
    }

    .popup_img {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

/* .popup_img span {
    position: absolute;
    top: 20rem;
    right: 0;
    color: #ffffff;
    cursor: pointer;
    z-index: 100;
} */

.popup_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 5px;
    object-fit:cover ;
}
    


}